extends _layout.pug

block variables
  -
    var title = 'Товары оптом из Китая – русский посредник для вашего бизнеса AsiaCompany'
    var description = 'Помогаем строить бизнес с Китаем без рисков. Поиск поставщиков, ведение переговоров и товары оптом из Китая. Контроль отгрузок и таможенное оформление. Опыт 6 лет, смотрите примеры проектов на нашем сайте. AsiaCompany – ваш русский посредник в Китае.'
    var index = true

block content
  include components/intro.pug
  include components/services.pug
  include components/scheme.pug
  include components/portfolio.pug
  include components/cta.pug
  include components/about.pug
  include components/order.pug
